.navbar-brand {
    font-size: 36px;
}

.search-header {
    font-size: 24px;
    font-weight: bold;
}

.city-name {
    font-size: 30px;
}

.forecast-date {
    font-size: 18px;
}

h1 {
    margin-bottom: 0%;
    background-image: linear-gradient(to right, teal , rgb(181, 80, 209));
}