/* universal styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* nav header */
.navbar-brand {
    font-size: 36px;
}

.search-header {
    font-size: 24px;
    font-weight: bold;
}

.city-name {
    font-size: 30px;
}

.forecast-date {
    font-size: 18px;
}
/* nav h1 color gradient */
h1 {
    margin-bottom: 0%;
    background-image: linear-gradient(to right, teal , rgb(181, 80, 209));
    color: white;
}

#search-button {
    background-color: teal;
}

#clear-history {
    background-color: teal;
}

.bg-primary {
    background-color: teal;
}